<!-- div for show-data   and   add-new  -->
<div class="col-12 pt-5">
    <div class="container">
        <button class="btn btn-primary m-2" adminButtonDirective (click)="viewControl('add');resetView()">add
            link</button>
        <button class="btn btn-secondary" adminButtonDirective (click)="viewControl('showData');">show Data</button>
    </div>
    <!-- form div -->
    <div class="col-12">
        <div class="container" *ngIf="mainControl=='add' || mainControl=='edit'">
            <form [formGroup]="projects" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="text"></label>
                    <input type="text" class="form-control" id="text" formControlName="title" placeholder="title">
                </div>
                <div class="form-group">
                    <label for="description"></label>
                    <input type="text" class="form-control" id="description" formControlName="description"
                        placeholder="description">
                </div>
                <div class="form-group">
                    <label for="url"></label>
                    <input type="url" class="form-control" id="url" formControlName="link" placeholder="link">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-warning m-2">save</button>
                </div>
            </form>
        </div>
    </div>
    <!-- data show div -->
    <div class="container" appShowDataDiveDirective *ngIf="mainControl=='showData' || mainControl=='delete'">
        <table class="table" *ngIf="mainControl=='showData'">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"> title</th>
                    <th scope="col"> description</th>
                    <th scope="col"> url</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listArray ; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.title}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.link}}</td>
                    <td>
                        <button class="btn btn-danger m-2" adminButtonDirective
                            (click)="mainControl='delete';findItem(item)"><i class="bi bi-trash3"></i></button>
                        <button class="btn btn-warning" adminButtonDirective
                            (click)="mainControl='edit';findItem(item)"><i class="bi bi-pencil-square"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- to ensure the delete action -->
        <div *ngIf="mainControl=='delete'" appDeleteElementDiv>
            <div class="content p-5 text-center">
                <p><b>Title : </b> {{globalObject.title}}</p>
                <p><b>Title : </b> {{globalObject.description}}</p>
                <p><b>Link : </b> {{globalObject.link}}</p>
                <div class="text-center">
                    <button class="btn btn-danger m-2" adminButtonDirective (click)="deleteTheItem();">delete</button>
                    <button class="btn btn-secondary" adminButtonDirective
                        (click)="viewControl('showData')">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>